<%= render "navbar" %>

<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10"><h2 class="headline">Your Code</h2></div>
	</div>

	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10"><h2 class="headline"><%= @ritly.random_string %></h2></div>
	</div>

	<div class="row">
		<iframe src="<%= @ritly.link %>" class="preview">
	  		<p>Your browser does not support iframes.</p>
		</iframe>
	</div>

	<div class="row center">
		<%= link_to @ritly.link, "/go/#{@ritly.random_string}", method: :patch %>
	</div>

</div>